@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .input {
    @apply w-full rounded-full border border-stone-200 px-4 py-2 text-sm transition-all duration-300 placeholder:text-stone-400 focus:outline-none focus:ring focus:ring-yellow-400 md:px-6 md:py-3;
  }

  .loader {
    width: 120px;
    height: 20px;
    border-radius: 20px;
    background:
      repeating-linear-gradient(135deg, #f03355 0 10px, #ffa516 0 20px) 0/0%
        no-repeat,
      repeating-linear-gradient(135deg, #ddd 0 10px, #eee 0 20px) 0/100%;
    animation: loading 2s infinite;
  }
  @keyframes loading {
    100% {
      background-size: 100%;
    }
  }
}
/* https://dev.to/afif/i-made-100-css-loaders-for-your-next-project-4eje */
